.row td{
    border: 1px solid #edeeee;
    color: black;
    padding: 5px;
    text-align: left;
}
.brand{
    display: flex;
    align-items: center;
    gap: 10px;
}
.brand img{
    width: 20px;
}
.members,.categeries{
    display: flex;
    gap: 2px;
}
