.file{
    border: 1px solid #edeeee;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px 0;
}
.file:hover{
    background-color: #f4f5f6;
}